.banner-wrap {
  position: absolute;
  background-image: url("/img/banner-bg-1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100%;
}

.banner-content {
  margin-top: 8rem;
  background-color: rgba(48, 49, 49, 0.671);
  color: #ffffff;
  text-align: center;
  border: 1px solid #ffffff;
}

.banner-title {
  margin-bottom: 2rem;
}

.banner-p {
  font-size: 1.3rem;
}

.banner-p__about {
  margin-top: 3rem;
}

.banner-link {
  text-decoration: none;
  color: #ffffff
}